mixin head(data)
  title= data.title
  meta(charset="utf-8")
  
  meta(content=data.author name="author")
  meta(content=data.description name="description") 
  
  meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
  meta(content="IE=edge" http-equiv="X-UA-Compatible")
  
  //build:css css/vendor.css
  link(rel="stylesheet", href="css/reset.css")
  link(rel="stylesheet", href="libs/mdi/css/materialdesignicons.min.css")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
  //endbuild
  
  //build:css css/main.css
  link(rel="stylesheet", href="css/main.css")
  link(rel="stylesheet", href="fonts/proxima.css")
  //endbuild
