mixin swipeCount()
  +b.DIV.swipeCount
    +e.DIV.container
      //- +b.swipeCount-item
      //-   +e.P.text.all 5
      +b.swipeCount-item
        +e.DIV.icon
      +b.swipeCount-item
        +e.P.text.active 1
         
      
