mixin social()
  +b.DIV.social
    +e.DIV.container
      +b.social-item
        +e.I.icon(class="mdi mdi-facebook")        
      +b.social-item
        +e.I.icon(class="mdi mdi-twitter")        
      +b.social-item
        +e.I.icon(class="mdi mdi-instagram")
      +b.social-item
        +e.P.text follow +
      
