mixin swipe()
  +b.DIV.swipe
    +e.DIV.container
      +b.swipe-item
        +e.DIV.icon.active
        |Главная страница
      +b.swipe-item
        +e.DIV.icon
        |Hot news
      +b.swipe-item
        +e.DIV.icon
        |About me
      +b.swipe-item
        +e.DIV.icon
        |Документы

      +b.swipe-item
        +e.DIV.icon
        |Контакты
