.swipe
  &-item
    display: flex
    align-items: center
    margin-bottom: 14px
    font-family: 'Proxima Nova Cn Rg'
    font-size: 16px
    &__icon
      width: 16px
      height: 16px
      border: solid 4px $main-color-header
      margin-right: 38px
    &__text
      color: $main-color-header
      margin-bottom: 0
      display: none
  &-item.active
    .swipe-item__icon
      color: red
      width: 40px
      height: 2px
      border: solid 2px $main-color-header
      margin-right: 12px
    .swipe-item__text
      display: block
